[submodule "src/usb_cam"]
	path = src/usb_cam
	url = https://github.com/ros-drivers/usb_cam.git
[submodule "src/universal_robot"]
	path = src/universal_robot
	url = https://github.com/ros-industrial/universal_robot.git
	branch = melodic-devel
[submodule "src/vision_opencv"]
	path = src/vision_opencv
	url = https://github.com/ros-perception/vision_opencv.git
	branch = melodic
[submodule "src/timed_roslaunch"]
	path = src/timed_roslaunch
	url = https://github.com/MoriKen254/timed_roslaunch.git
[submodule "src/easy_handeye"]
	path = src/easy_handeye
	url = https://github.com/IFL-CAMP/easy_handeye.git
