<launch>

  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
		<param name="camera_frame_id" value="usb_cam" />
		<param name="camera_info_url" value="usb_cam" />
		<param name="camera_info_url" value="package://msg_filter/logitechc110.yaml" />
  </node>

	<node name="image_proc" pkg="image_proc" type="image_proc" ns="usb_cam"/>

	
	<node pkg="msg_filter" type="msg_filter_node" name="msg_filter"/>
	
	<node pkg="image_view" type="image_view" respawn="false" output="screen" name="image_view"/>
	<remap from="image" to="/filtered/image_raw" />
	
</launch>
